body {
    font-family: sans;
    width: 85%;
    margin: auto;
}

header {
    font-size: 90%;
    font-style: italic;
    background-color: AliceBlue;
}

.explanation {
    font-size: 90%;
    font-style: italic;
}
figure {
}

table {
    padding-top: 10px;
    padding-bottom: 10px;
}
th, td {
    padding-left: 10px;
    padding-right: 10px;
}

th {
    background-color: dimgray;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* tr: hover should be after tr:nth-child otherwise only it will only work
   half of the time. */
tr:hover {
    background-color: darkseagreen;
}
